*{
    margin:0;
    padding:0;
}
button{
    height: 100px;
    width: 50px;
}
#xylo{
    display: none;
}
#buttons button{
    width: 100px;
    height: 50px;
}
#buttons input{
    width: 50px;
}
#wrapper{
    width: 500px;
    margin: 20px auto;
    text-align: center;
}
div#wrapper div{
    margin-top: 20px;
}
div#notes{
    border: solid 2px black;
    width: 100%;
    min-height: 100px;
    text-align: left;
}
    div#notes a{
        margin-left: 5px;
    }
form#deleter{
    display: block;
    position: absolute;
    width: 300px;
    top: 380px;
    left: calc(50% - 150px);
    z-index: 999;
    align-content: center;
    text-align: center;
    display: none;
}
    form#deleter input{
        width: 50px;
    }