*{
    margin: 0;
    padding: 0;
}
button{
    width: 100px;
    height: 50px;
    margin-right: 5px;
    cursor: pointer;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#circles{
    width: 100%;
    height: 700px;
    background-color: lightcyan;
    position: relative;
}
div.circle{
    border: solid 2px black;
}